.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "form cv";
  min-height: 100vh;
  padding: 1rem;
  grid-gap: 1rem;
}

.form-container {
  grid-area: form;
  display: flex;
  flex-direction: column;
}

.cv-container {
  grid-area: cv;
  display: flex;
  flex-direction: column;
}
